<% provide(:title, 'Answered questions') %>
<h1>Answered questions</h1>

<ul class="posts">
	<% @posts.each do |post| %>
		<% if post.responses.any? %>
			<li>
				<%= truncate(post.content, length: 80) %>
				<div class="timestamp">
					Asked by <%= link_to post.user.name %> <%= time_ago_in_words(post.created_at) %> ago. Answered <%= time_ago_in_words(post.responses.first.created_at) %> ago.
				</div>
				<%= link_to "View this question", post %>
			</li>
		<% end %>
	<% end %>
</ul>

<%# Pagination goes over *all* posts--need to do for subset
<%# This is a simple fix, but not straightforward enough to fix right now
<%#= will_paginate %>