<% provide(:title, 'All questions') %>
<h1>All questions</h1>
<center>
	<b>
		<font size="4">
			<%= link_to "View pending questions", pending_path %>
			&nbsp &nbsp
			<%= link_to "View answered questions", answered_path %>
		</font>
	</b>
</center>

<ul class="posts">
	<% @posts.each do |post| %>
		<li>
			<%= truncate(post.content, length: 80) %>
			<div class="timestamp">
				Asked by <%= link_to post.user.name, post.user %> <%= time_ago_in_words(post.created_at) %> ago.
			</div>
			<%= link_to "Answer this question", post %>
		</li>
	<% end %>
</ul>

<%= will_paginate %>