<h3>Question from <%= link_to @post.user.name, @post.user %></h3>
<span class="timestamp">
	Asked <%= time_ago_in_words(@post.created_at) %> ago.
</span>
<div class="row">
	<aside class="span6">
		<section>
			<%= simple_format(@post.content) %>
		</section>
	</aside>
	<div class="span6">
		<% if @post.responses.any? %>
			<ul class="posts">
				<% @post.responses.each do |response| %>
					<li>
						<%= simple_format(response.content) %>
						<%#= render @response %>
					</li>
				<% end %>
			</ul>
		<% end %>
		<%= render 'shared/response_form' %>
	</div>
</div>